/* helper css*/
p {
    font-size: 14px;
    color: #636363;
    line-height: 1.6;
}
h6 {
    font-size: 14px;
}
h6 {
    color: #111111;
    margin: 0;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
}
input:focus,
select:focus,
button:focus,
textarea:focus {
    outline: none;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}

ul,
ol {
    padding: 0;
    margin: 0;
}
.right {
    text-align: right;
}



/* Header */
#logo, #logo a{
    display: inline-block;
    color: #fff;
    font-size:25px;
    text-decoration: none;
}
#header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
}
.header-top {
    background: #04091e;
    padding: 8px
}

.header-top a {
    color: #fff
}

.header-top ul li {
    display: inline-block;
    margin-left: 15px
}

.header-top ul li:first-child{
    margin-left:0
}
.header-top .header-top-left {
    text-align: left;
    padding-left: 0px;
}

.header-top .header-top-left i {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.header-top .header-top-left a {
    margin-right: 10px
}

.header-top .header-top-left a:hover {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.header-top .header-top-left a:hover i {
    color: #f7631b
}

.header-top .header-top-right {
    text-align: right
}

.header-top .header-top-right a {
    margin-right: 10px
}

.header-top .header-top-right a .lnr {
    display: none;
    font-weight: 700
}

@media (max-width: 480px) {
    .header-top .header-top-right a .lnr {
        display:inline-block
    }

    .header-top .header-top-right a .text {
        display: none
    }
}

.top-head-btn {
    background: #f7631b;
    padding: 9px 26px
}

.main-menu {
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid #39353e
}

#header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
    background-color: rgba(4,9,30,0.9);
    font-size:80%;
}

#header.header-scrolled {
    transition: all 0.5s;
    background-color: rgba(4,9,30,0.9)
}

#header.header-scrolled .main-menu {
    border-color: transparent
}

@media (max-width: 673px) {
    #logo {
        margin-left: 20px
    }
}

#header #logo h1 {
    font-size: 34px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 3px
}

#header #logo h1 a,#header #logo h1 a:hover {
    color: #000;
    padding-left: 10px;
    border-left: 4px solid #f7631b
}

#header #logo img {
    padding: 0;
    margin: 0
}

@media (max-width: 768px) {
    #header #logo h1 {
        font-size:28px
    }

    #header #logo img {
        max-height: 40px
    }
}

.nav-menu,.nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none
}

.nav-menu ul {
    position: absolute;
    display: none;
    top: 100%;
    right: 0;
    z-index: 99
}

.nav-menu li {
    position: relative;
    white-space: nowrap
}

.nav-menu>li {
    float: left
}

.nav-menu li:hover>ul,.nav-menu li.sfHover>ul {
    display: block
}

.nav-menu ul ul {
    top: 0;
    right: 100%
}

.nav-menu ul li {
    min-width: 180px
}

.sf-arrows .sf-with-ul {
    padding-right: 30px
}

.sf-arrows .sf-with-ul:after {
    content: "\f107";
    position: absolute;
    right: 15px;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
    content: "\f105"
}

@media (max-width: 768px) {
    #nav-menu-container {
        display:none
    }
}

.nav-menu a {
    padding: 0 8px 0px 8px;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    outline: none
}

.nav-menu li:hover>a {
    color: #f7631b
}

.nav-menu>li {
    margin-left: 10px
}

.nav-menu ul {
    margin: 24px 0 0 0;
    padding: 10px;
    box-shadow: 0px 0px 30px rgba(127,137,161,0.25);
    background: #fff
}

.nav-menu ul li {
    transition: 0.3s
}

.nav-menu ul li a {
    padding: 5px 10px;
    color: #333;
    transition: 0.3s;
    display: block;
    font-size: 12px;
    text-transform: none
}

.nav-menu ul li:hover>a {
    color: #f7631b
}

.nav-menu ul ul {
    margin-right: 10px;
    margin-top: 0
}

#mobile-nav-toggle {
    position: fixed;
    right: 15px;
    z-index: 999;
    top: 62px;
    border: 0;
    background: none;
    font-size: 24px;
    display: none;
    transition: all 0.4s;
    outline: none;
    cursor: pointer
}

#mobile-nav-toggle i {
    color: #fff;
    font-weight: 900
}

@media (max-width: 960px) {
    #mobile-nav-toggle {
        display:inline
    }

    #nav-menu-container {
        display: none
    }
}

#mobile-nav {
    position: fixed;
    top: 0;
    padding-top: 18px;
    bottom: 0;
    z-index: 998;
    background: rgba(0,0,0,0.8);
    left: -260px;
    width: 260px;
    overflow-y: auto;
    transition: 0.4s
}

#mobile-nav ul {
    padding: 0;
    margin: 0;
    list-style: none
}

#mobile-nav ul li {
    position: relative
}

#mobile-nav ul li a {
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    overflow: hidden;
    padding: 10px 22px 10px 15px;
    position: relative;
    text-decoration: none;
    width: 100%;
    display: block;
    outline: none;
    font-weight: 400
}

#mobile-nav ul li a:hover {
    color: #fff
}

#mobile-nav ul li li {
    padding-left: 30px
}

#mobile-nav ul .menu-has-children i {
    position: absolute;
    right: 0;
    z-index: 99;
    padding: 15px;
    cursor: pointer;
    color: #fff
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
    color: #f7631b
}

#mobile-nav ul .menu-has-children li a {
    text-transform: none
}

#mobile-nav ul .menu-item-active {
    color: #f7631b
}

#mobile-body-overly {
    width: 100%;
    height: 100%;
    z-index: 997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0,0,0,0.7);
    display: none
}

body.mobile-nav-active {
    overflow: hidden
}

body.mobile-nav-active #mobile-nav {
    left: 0
}

body.mobile-nav-active #mobile-nav-toggle {
    color: #fff
}

/*---------------------
Header section
-----------------------*/

.header-section {
    padding: 20px 0;
    overflow: hidden;
    z-index: 1;
}

.site-logo {
    display: inline-block;
    margin-right: 50px;
    padding-top: 20px;
}

.header-info {
    display: inline-block;
    float: right;
}

.header-info .hf-item {
    display: inline-block;
    margin-left: 35px;
}

.header-info .hf-item i {
    width: 45px;
    height: 45px;
    display: inline-block;
    position: relative;
    text-align: center;
    color: #f6783a;
    font-size: 17px;
    padding-top: 13px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.header-info .hf-item i:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border: 1px solid #d2d2db;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border-radius: 2px;
}

.header-info .hf-item p {
    display: inline-block;
    position: relative;
    top: 10px;
    margin-bottom: 0;
}

.header-info .hf-item p span {
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    color: #020031;
    font-weight: 500;
}

.nav-switch {
    display: none;
}

.nav-section {
    background: #020031;
}

.nav-section .nav-right {
    float: right;
    padding-top: 23px;
}

.nav-section .nav-right a {
    color: #fff;
    margin-left: 30px;
    font-size: 16px;
}

.main-menu {
    list-style: none;
}

.main-menu li {
    display: inline;
}


.main-menu li a:hover {
    background: #4dbf1c;
}

.main-menu li.active a {
    background: #4dbf1c;
}

/*header end*/

/*footer*/
.footer-section {
    background-color: #04091e;
    background-repeat: no-repeat;
    background-position: center 75px;
}

.footer-section .footer-top {
    padding: 65px 15px;
}

.footer-section .copyright {
    border-top: 1px solid #312f56;
    padding: 27px 0;
    text-align: center;
}

.footer-section .copyright p {
    color: #b7b7b7;
    margin-bottom: 0;
}

.footer-section .copyright p a {
    color: #fff;
    font-weight: 500;
}

.footer-section .copyright p a:hover {
    color: #f6783a;
}

.footer-widget .fw-title {
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 25px;
    padding-top: 10px;
}

.footer-widget .fw-titlelinks {
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 25px;
    margin-left: 60px;
    padding-top: 10px;

}

.footer-widget p,
.footer-widget span {
    color: #b7b7b7;
}

.footer-widget ul {
    list-style: none;
}

.footer-widget .about-widget img {
    margin-bottom: 30px;
}

.footer-widget .about-widget p {
    margin-bottom: 35px;
}

.footer-widget .social a {
    color: #b7b7b7;
    margin-right: 15px;
}

.footer-widget .dobule-link ul {
    display: inline-block;
}

.footer-widget .dobule-link ul a {
    display: block;
    font-size: 14px;
    color: #b7b7b7;
    margin-bottom: 15px;
}

.footer-widget .dobule-link ul a:hover {
    color: #f6783a;
}

.footer-widget .dobule-link ul li:last-child a {
    margin-bottom: 0;
}

.footer-widget .dobule-link ul:last-child {
    margin-left: 50px;
}

.footer-widget .recent-post li {
    margin-bottom: 25px;
}

.footer-widget .recent-post p {
    margin-bottom: 5px;
}

.footer-widget .recent-post span {
    font-size: 12px;
}

.footer-widget .recent-post span i {
    color: #f6783a;
    margin-right: 5px;
}

.footer-widget .contact li {
    margin-bottom: 15px;
    display: block;
}

.footer-widget .contact li p {
    margin-bottom: 0;
}

.footer-widget .contact i {
    font-size: 12px;
}

/* footer end */

/*------------------
Responsive
---------------------*/

@media (max-width: 960px){
    #mobile-nav-toggle {
        display: inline;
    }
}




@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}

/* Medium screen : 992px. */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .counter-section .counter {
        padding-left: 20px;
    }
    .counter-section .counter .counter-item {
        min-width: 80px;
    }
    .counter-section .counter .counter-item h4 {
        font-size: 35px;
    }
    .widget {
        margin-left: 0;
    }
}

/* Tablet :768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-info .hf-item i {
        float: left;
    }
    .header-info .hf-item p {
        display: block;
    }
    .hs-item {
        height: auto;
        min-height: auto;
        padding: 140px 0;
    }
    .counter-section .counter {
        padding-top: 15px;
        padding-left: 0;
    }
    .counter-section .counter .counter-item {
        min-width: 70px;
    }
    .counter-section .counter .counter-item h4 {
        font-size: 27px;
    }
    .gallery .gallery-item,
    .gallery .gallery-item.gi-big,
    .gallery .gallery-item.gi-long {
        width: 25%;
    }
    .footer-widget {
        margin-bottom: 40px;
    }
    .testimonial-slider .owl-nav {
        left: -16px;
    }
    .member {
        margin-bottom: 40px;
    }
    .sidebar {
        padding-top: 80px;
    }
    .widget {
        margin-left: 0;
    }
}

/* Large Mobile :480px. */

@media only screen and (max-width: 767px) {
    .header-info {
        display: none;
    }
    .site-logo {
        padding: 15px 0;
    }
    .nav-switch {
        position: absolute;
        right: 30px;
        font-size: 30px;
        color: #111;
        top: 25px;
        display: block;
    }
    .nav-section .nav-right {
        display: block;
        float: none;
        text-align: right;
        padding-bottom: 20px;
    }
    .main-menu li {
        display: block;
    }
    .main-menu li a {
        padding: 15px;
        display: block;
        border-top: 1px solid #212031;
    }
    .main-menu li a:hover {
        background-color: transparent;
        color: #f6783a;
    }
    .main-menu li.active a {
        background-color: transparent;
    }
    .hs-item {
        min-height: auto;
        padding: 100px 0;
    }
    .hs-item .hs-title {
        font-size: 40px;
    }
    .counter-section .counter {
        float: none;
        padding-top: 30px;
        padding-left: 0;
        text-align: center;
    }
    .gallery .gallery-item,
    .gallery .gallery-item.gi-big,
    .gallery .gallery-item.gi-long {
        width: 50%;
    }
    .fact {
        text-align: left;
        margin-bottom: 15px;
    }
    .footer-widget {
        margin-bottom: 40px;
    }
    .testimonial-slider .owl-nav {
        left: 50%;
        margin-left: -90px;
    }
    .testimonial-slider .owl-dots {
        text-align: center;
        width: 100%;
        left: 0;
        bottom: 0;
    }
    .testimonial-slider .ts-author-pic {
        margin: 5px auto 30px;
    }
    .testimonial-slider .ts-item {
        text-align: center;
        padding-bottom: 50px;
    }
    .member {
        margin-bottom: 40px;
    }
    .sidebar {
        padding-top: 80px;
    }
    .widget {
        margin-left: 0;
    }
    .map-section {
        height: auto;
    }
    .contact-info-warp {
        position: relative;
        height: auto;
        display: block;
        width: 100%;
        padding-bottom: 70px;
    }
    .map-section .map {
        height: 300px;
    }
}

/* small Mobile :320px. */

@media only screen and (max-width: 479px) {
    .hs-item .hs-title {
        font-size: 27px;
    }
    .counter-section .counter .counter-item {
        min-width: 65px;
    }
    .counter-section .counter .counter-item h4 {
        font-size: 25px;
    }
    .course-item .course-info {
        margin: 0;
    }
    .blog-item .blog-thumb {
        height: 230px;
        width: 100%;
        margin-bottom: 20px;
    }
    .blog-item .blog-content {
        padding-left: 0;
    }
    .gallery .gallery-item,
    .gallery .gallery-item.gi-big,
    .gallery .gallery-item.gi-long {
        width: 100%;
    }
    .newsletter-section .newsletter {
        text-align: center;
    }
    .newsletter-section .newsletter input {
        padding-right: 30px;
        margin-bottom: 20px;
        text-align-last: auto;
    }
    .newsletter-section .newsletter .site-btn {
        position: relative;
        border-radius: 50px;
    }
    .post-item .post-author .pa-thumb,
    .comment-warp .comment .comment-avator {
        float: none;
        margin-bottom: 15px;
    }
    .post-item .post-author .pa-content,
    .comment-warp .comment .comment-content {
        padding-left: 0;
    }
}
.fa-twitter-square{
    font-size: 30px !important;
}
.fa-facebook-square{
    font-size: 30px !important;
}
.fa-linkedin-square{
    font-size: 30px !important;
}
.fa-instagram-square{
    font-size: 30px !important;
}
.fa-youtube-square{
    font-size: 30px !important;
}
.fa-github-square{
    font-size: 30px !important;
}

.abouttitle{
    text-align: center;
    margin-top: 1em;
    background-color: #212529;
    color: #ffffff;
    padding: 20px;
    
}
.aboutinfo{
    margin-top: 3em;
    text-align: center;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.image {
    position: relative;
    width: 100%;
    margin-top: 7em;
}

.image__img {
    display: block;
    width: 100%;
}

.image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.image__overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image__overlay:hover {
    opacity: 1;
}

.image__overlay:hover > * {
    transform: translateY(0);
}

.image__title {
    font-size: 2em;
    font-weight: bold;
}



/* Sponsor page content */
.contents {
    padding: 30px;
}
.slogan {
    text-align: center;
}

.module {
    background: url('./images/background.png');
    width: 100%;
    height: 500px;
    margin: 100px 0 0 0px;
    position: relative;
    opacity: 1;
    
}
.mid h2 {
    color: white;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 40px;
    transform: translate(-50%, -50%);
    text-align: center;
    letter-spacing: 2px;
}

.animate__animated.animate__heartBeat {
    --animate-duration: 8s;
    animation-iteration-count: 5;
}
.animate__animated.animate__fadeIn {
    --animate-duration: 6s;
    animation-iteration-count: infinite;
}
.animate__animated.animate__rotateIn {
    --animate-duration: 2s;
}
.card-text {
    color: black;
    font-size: 15px;
}
.card {
    background-color: #d6e7ff;
}
/* sponsor page end */